@keyframes transitionLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes transitionRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes transitionFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitionDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transitionUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fallDown {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes leaveRight {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes leaveLeft {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes border-bottom {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes load {
  from {
      left: -150px;
  }
  to   {
      left: 100%;
  }
}